body{
    color: white;
    background-color: #db2323;
    font-family: 'Raleway', Arial, sans-serif;
}

@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
.snip1189 {
  font-family: 'Raleway', Arial, sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
  letter-spacing: 1px;
}
.snip1189 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.snip1189 li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1em;
  padding: 0;
}
.snip1189 a {
  padding: 0.5em 0.8em;
  margin: 0.2em 0;
  display: block;
  color: white;
  position: relative;
  text-decoration: none;
}
.snip1189 a:before,
.snip1189 a:after {
  height: 14px;
  width: 14px;
  position: absolute;
  content: '';
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
  opacity: 0;
}
.snip1189 a:before {
  left: 0;
  top: 0;
  border-left: 3px solid white;
  border-top: 3px solid white;
  border-radius: 0.3em;
  -webkit-transform: translate(100%, 50%);
  transform: translate(100%, 50%);
}
.snip1189 a:after {
  right: 0;
  bottom: 0;
  border-right: 3px solid white;
  border-bottom: 3px solid white;
  border-radius: 0.3em;
  -webkit-transform: translate(-100%, -50%);
  transform: translate(-100%, -50%);
}
.snip1189 a:hover,
.snip1189 .current a {
  color: white;
}
.snip1189 a:hover:before,
.snip1189 .current a:before,
.snip1189 a:hover:after,
.snip1189 .current a:after {
  -webkit-transform: translate(0%, 0%);
  transform: translate(0%, 0%);
  opacity: 1;
}

* {
    box-sizing: border-box;
    /* border: 2px solid white; */
    color: white;
}

#searchDiv {
    background-color: #db2323;
    display: grid;
    grid-auto-rows: auto;
    grid-template-columns: 10% 80% 10%;
    grid-template-areas: ". t ."
                         ". s ."
                         ". r ."
                         ". l .";
}

h1 {
    grid-area: t;
    text-align: center;
    font-size: 64px;
    margin: 0;
}

#search_container {
    grid-area: s;
}

#search_bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#search {
    font-weight: 900;
    color: white;
    width: 300px;
    height: 100px;
    border: 5px solid white;
    border-radius: 100px;
    cursor: pointer;
    transition: .7s;
    transition-timing-function:cubic-bezier(1,-0.5,0,1.5);
    text-align: left;
    padding-left: 15px;
    outline: none;
    font-size: 32px;
    background: transparent;
}

#search:focus {
    width: 800px;
    height: 100px;
    border: 5px solid white;
    border-radius: 20px;
    margin-bottom: 20px;
}

#result {
    grid-area: r;
    width: 80%;
    margin: 0 auto 0 auto;
    
    margin-left: 440px;
}

#link_to_form {
    grid-area: l;
    width:80%;
    margin: 0 auto 0 auto;
    font-size: 2rem;
    display:flex;
    align-items: center;
    justify-content: center;
}

.comic_wrapper {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #db2323;
  width: 98vw;
  height: 500px;
  color:black;
  display: grid;
  grid-template-columns: 20% 80%;
  grid-template-rows: 30% 45% 20%;
  grid-template-areas: "i t"
                       "i r"
                       "d r";
}


h2 {
  grid-area: t;
  text-align: center;
  font-size: 64px;
  margin: 0;
}

.comic_titre {
  color:white;
  grid-area: t;
}

.resume_wrapper {
  color:white;
  grid-area: r;
}

.comic_wrapper > img {
  width : auto;
  max-height: 100%;
  grid-area: i;
}

.resume {
  color:white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.genre {
  color:white;
  font-size: 1.5rem;
  margin-bottom: 5px;
}

.state { 
  color:white;
  margin-bottom: 5px;
}

.synopsis {
  color:white;
  padding-left: 10rem;
  padding-right: 10rem;
}

.detail {
  color:white;
  grid-area: d
}

.writer {
  color:white;
}

.artist {
  color:white;
}

.publisher {
  color:white;
}

.next_issue {
  color:white;
}